/**common**/
body{
	background:url(../img/bg.jpg) repeat-x;
}
.moreBtn{
	display: block;
	width: 400px;
	border-radius: 50px;
	border: 2px solid #E50003;
	padding: 10px;
	text-align: center;
	margin: 20px auto;
	background: #FFF;
	font-size: 20px;
}
.moreBtn:before{
	content: "";
	display: inline-block;
	background:url(../img/arrow.png) no-repeat left top;
	width: 11px;
	height: 11px;
	margin-right: 5px;
}
#wrapper{
	width:960px;
	margin:0 auto;
	padding-top:3px;
}
.movieList{
	text-align: center;
	padding: 20px 0;
}
.movieBox{
	text-align: center;
	padding: 30px 0 40px 0;
	margin-bottom: 20px;
	background: #EEE;
}
.totop{
	position:fixed;
	bottom:0px;
	right:0px;
	display:none;
}
#header{
	height:94px;
	position:relative;
	width:960px;
	margin:0 auto;
}
#header .tel{
	position:absolute;
	top:0px;
	right:0px;
}
#header #navi{
	position:absolute;
	left: 191px;
	top: 61px;
	width: 768px;
	border-right:1px solid #CCC;
}

#header #navi li{
	float:left;
	text-align:center;
	width:126px;
	border-left:1px solid #CCC;
	
}
#header #navi li a{
	color:#333;
}
#header .summary{
	font-size:11px;
	position:absolute;
	left: 192px;
	top: 18px;
	color:#999;
}
#footer{
	background:#C00;
	margin-top:20px;
}
#footer .footInner{
	width:960px;
	margin:0 auto;
	padding:5px 0 5px 0;
}
#footer .footInner p{
	color:#FFF;
	font-size:12px;
}
#sitemap{
	background:url(../img/foot_bg.gif) repeat-x;
	padding:20px 0 30px 0;
}
#sitemap #sitemapInner{
	width:960px;
	margin:0 auto;
}

#sitemap #sitemapInner ul.ttl{
	width:130px;
	background:none;
	}
#sitemap #sitemapInner ul{
	float:left;
	width:190px;
	height:200px;
	background:url(../img/foot_line.gif) repeat-y right top;
	margin-right:10px;
}
#sitemap #sitemapInner li a{
	color:#FFF;
	background:url(../img/foot_arrow_02.gif) no-repeat left center;
	padding:0 0 0 10px;
	margin-left:10px;
	font-size:11px;
	letter-spacing:-1px;
	
}
#sitemap #sitemapInner li a.cate{
	color:#FFF;
	background:url(../img/foot_arrow_01.gif) no-repeat left 2px;
	padding:0 0 0 23px;
	font-size:13px;
	margin-left:0px;
	font-weight:bold;
	display:block;
	padding-bottom:5px;
	letter-spacing:0px;
	
}
#sitemap #sitemapInner .lineH li a.cate{
	margin-bottom:10px;
}

.contactBlock{
	background:url(../img/contact_bg.jpg);
	height:230px;
	position:relative;
	margin-top:10px;
}
.contactBlock .btn{
	position:absolute;
	left: 564px;
	top: 60px;
}

.arrow{
	background:url(../img/arrow.png) no-repeat left 6px;
	padding-left:12px;
	
}

#pankuz{
	padding:5px 0 5px 0;
	font-size:10px;
}

/**SIDENAVI**/
#sideNavi{
	width:210px;
	float:left;
}
#sideNavi .sideBox{
	width:195px;
	border-radius:8px;
	background-color:#FFF;
	box-shadow:0 0 3px #A89D88;
	margin-bottom:15px;
}
#sideNavi .sideBox .sMenu{
	background:#9A0403;
	border-radius:8px 8px 0px 0px;
	text-align:center;
	padding:10px;
	
}

#sideNavi .sideBox .sArea{
	background:#FF7E02;
	border-radius:8px 8px 0px 0px;
	text-align:center;
	padding:10px;	
}
#sideNavi .sideBox2{
	border:1px solid #F90;
}
#sideNavi .sideBox ul{
	padding:5px 10px 5px 10px;
}
#sideNavi .sideBox li{
	background:url(../img/side_line.gif) repeat-x bottom;
	padding:10px 0 10px 0;
	font-size:13px;
}
#sideNavi .sideBox p{
	font-size:11px;
	padding:5px 10px 5px 10px;
	line-height:1.4em;
}
#sideNavi .sideBox .sideBtn{
	background:#EEE;
	padding:10px 0 10px 0;
	text-align:center;
	border-radius: 0px 0px 8px 8px;
}
#sideNavi .sideBox li a{
	background:url(../img/side_arrow.png) no-repeat left center;
	padding:0 0 0 12px;
}
#sideNavi .sideBox li:last-child{
	background:none;
}

#sideNavi .sideBox li .second{
	font-size:11px;
	display:none;
	padding:0px;
	background:none;
}

#sideNavi .sideBox li .second a{
	padding:0px;
	background:none;
}
.chair #sideNavi .sideBox .chair .second{
	display:block;
}
.re_chair #sideNavi .sideBox .re_chair .second{
	display:block;
}

.carpet #sideNavi .sideBox .carpet a{color:#999}
.chair #sideNavi .sideBox .chair a{color:#999}
.sofa #sideNavi .sideBox .sofa a{color:#999;}
.braind #sideNavi .sideBox .braind a{color:#999;}
.air #sideNavi .sideBox .air a{color:#999;}
.other #sideNavi .sideBox .other a{color:#999;}
.re_chair #sideNavi .sideBox .re_chair a{color:#999;}
.re_carpet #sideNavi .sideBox .re_carpet a{color:#999;}



/**CONTENT**/
#contents{
	width:750px;
	float:right;
	padding-bottom:20px;
	border-radius:8px;
	background-color:#FFF;
	box-shadow:0 0 3px #A89D88;}
	
#contents #contentsInner{
	padding:18px;
}

#contents h1{
	background:url(../img/h1_bg.png) no-repeat;
	font-size:18px;
	color:#FFF;
	padding:25px 20px 35px 20px;
	font-weight: bold;
}
#contents h2{
	background:url(../img/h2_bg.png) no-repeat;
	font-size:18px;
	padding:12px 20px 25px 20px;
	margin-top:30px;
}
#contents h3{
	font-size:16px;
	padding:25px 20px 5px 0px;
	border-bottom:#C00 1px solid;
	margin-bottom:10px;
	color:#C00;
	font-weight:bold;
}
#contents .mainPhoto{
	width:275px;
	float:left;
	text-align: center;
}
#contents .mainTxt{
	width:430px;
	float:right;
	
}
#contents h2.flowTtl{
	background:url(../img/flow_ttl.jpg) no-repeat 0px 0px;
	padding:28px 0 17px 0;
	text-align:center;
	color:#FFF;
	font-weight:bold;
	margin:0px;
}

#contents table{
	width:709px;
}
#contents th{
	background:#F66;
	text-align:center;
	color:#FFF;
}
#contents td,#contents th{
	padding:5px;
	border:1px solid #CCC;
}

#contents h2.hiketsu{
	background:url(../img/ttl_01.jpg) no-repeat;
	padding:30px 20px 10px 200px;
	color:#960;
}
#contents .hiketsuBox{
	background:url(../img/point_bg.jpg) repeat-y;
	padding:10px 30px 15px 30px;
}
#contents .hiketsuBox li{
	background:url(../../common/img/side_line.gif) repeat-x top;
	padding:10px 10px 10px 10px
}

#contents .hiketsuBox .btnArea{
	background:#EEE;
	padding:15px;
	text-align:center;
}


#contents .baBox{
background:url(../../common/img/flow_bg.gif);
width:685px;
margin-left:11px;
border-bottom:1px solid #FDB9B9;
border-left:1px solid #FDB9B9;
border-right:1px solid #FDB9B9;
}

#contents .baBox li{
	text-align:center;
	border-bottom:1px solid #FDB9B9;
	padding:15px 0 15px 0;
	margin:0 15px 0 15px;
}
#contents .baBox li:last-child{
	border:none;
}
#contents .baBox .box{
	float:left;
	text-align:center;
}

#contents  .baBox p{
	text-align:center;
	font-size:16px;
	font-weight:bold;
	padding-top:10px;
}
#service #contents .col2L h2,#service #contents .col2R h2{
	margin:0px;
	background-position:-2px 0px;
}
#service .col2L{
	width:345px;
	float:left;
	border:1px solid #CCC;
	padding:1px;
	border-radius:3px;
	margin-bottom:15px;
}

#service .col2R{
	border-radius:3px;
	width:345px;
	float:right;
	border:1px solid #CCC;
	padding:1px;
	margin-bottom:15px;
}
#service .catTop p{
	padding:0 10px 15px 15px;

}
