.lineU{
	background:url(../../common/img/side_line.gif) repeat-x left bottom;
	padding:0 0 20px 0;	
	margin:0 0 20px 0;	
	
}
.mainTxt{
	padding-left: 70px;
	position: relative;
	margin-bottom: 10px;
	
}
.mainTxt:before{
	content: "";
	display: block;
	position: absolute;
	width: 60px;
	height: 60px;
	left: 0px;
	top: -5px;
	background: url(../img/point_txt.png) no-repeat left top;
	background-size: contain;
}
#contents img.size40{
	width: 40%;
}
#contents .disTCBox{
	padding-top: 10px;
}
#contents .disTCBox a{
	width: 50%;
	text-align: center;
	display: table-cell;
}
#contents .disTCBox a img{
	width: 95%;
}
.pageNavi li{
	float:left;
	padding:0 5px 0 4px;
}
.whatBox{
	border:2px solid #C00;
	padding:10px;
	border-radius:5px;
	margin-top:20px;
}
#contents .whatBox h3{
	margin-top:0px;
	padding-top:0px;
}

#contents h3.navTtl{
	background: #EEE;
	color: #000;
	padding: 1.5%;
	border:none;
}
.pointNavi li{
	background:url(../../common/img/side_line.gif) repeat-x bottom;
}

.pointNavi li a{
	padding:5px 0 5px 0px;
	display:block;
	line-height:1.4em;
}
.pointNavi li a:hover{
}