@charset "utf-8";
/* CSS Document */

#contents .outline  td, #contents .outline  th{
	border:none;
	border-top:solid 1px #CCC;
	border-bottom:solid 1px #CCC;
}


#faq dl{
	padding:15px 0 15px 0;
}
#faq dt{
	font-size:16px;
	font-weight:bold;
	color:#FFF;
	background:url(../img/faq_q.gif) no-repeat;
	padding:13px 10px 13px 50px;
}
#faq dd{
	background:url(../img/faq_a.gif) no-repeat;
	padding:10px 10px 20px 50px;
	margin:5px 0 15px 30px;
}
#contents .contact td,#contents .contact th{
	padding:8px;
}

#flow .flowBox{
	background:url(../img/flow_img.gif) no-repeat left top;
	padding-left:100px;
	margin-top:20px;
}
#flow .flowBox  li{
	padding:20px 0 20px 0;
	border-top:1px dotted #CCC;
}
#flow .flowBox h2{
	background:none;
	padding:0 0 5px 0;
	margin:0px;
	color:#C00;
	font-weight:bold;
}

.baBox .txt1{
	padding:15px;
}